/* CUSTOMIZE THE SIDEBAR
-------------------------------------------------- */

div.collapse > li > a {
	position: relative;
	padding-left: 20px;
}

div.collapsing > li > a {
	position: relative;
	padding-left: 20px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
}
.navbar-wrapper .navbar .container {
  width: 100%;
}

/* EXPANDABLE ARTICLES
-------------------------------------------------- */
div.article {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
	background-color: #b6b6f2;
	border-radius: 5px;
	height: 400px;
	width: 300px;
	padding-top: 10px;
	margin: 20px;
	overflow: hidden;
}

div.panel {
	height: 800px;
	float: left;
}

div.article-small {
	position: absolute;
	width: 300px;
	max-width: 300px;
	opacity: 1;
	z-index: 1000;
}

div.article-big {
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	opacity: 0;
	text-align: left;
}


/* REGISTRATION FORMS AND ERRORS
-------------------------------------------------- */

div.login {
	height: 600px;
}

div.register {
	height: 600px;
}

span.error {
	display: inline-block;
	margin-left: 5px;
	color: red;
}

/* ABOUT
-------------------------------------------------- */
.about {
	padding-top: 25px;
	padding-bottom: 25px;
}

.col-about-title {
	text-align: center;
	position: absolute;
	height: 100%;
}

.about-title {
	position: relative;
	top: 50%;
		-webkit-transform: translateY(-50%);
}

.about-even {
	background-color: #b6b6f2;
}

.about-odd {

}