{% extends "base.html" %}

{% block content %}
<div class="container" style="position:relative; top:50px;">
	<div class="row about about-even">
		<div class="col-md-3 text-center"><h1>Getting Involved</h1></div>
		<div class="col-md-9">
			There are a myriad of ways to get involved with DramaTech, both technical and artistic (and many that lie somewhere in between). We love new people, and we take people of any experience level (including none at all, we love to teach).<br>
			<br>
			Most everything we do takes place at DramaTech. We're at the far end of the Robert Ferst Center for the Arts. The Ferst Center is adjacent to the Student Center and the Student Services Building. You can pick out our doors by the stained glass windows above them that face out towards Atlantic Drive.<br>
			<br>
			Here we've listed just a few of the opportunities DramaTech offers. Please keep in mind that there are many other ways to get involved, and that different opportunities present themselves throughout the year. You can find a general calendar of events here.
		</div>
	</div>
	<div class="row about about-odd">
		<div class="col-md-3 text-center"><h1>Show Up!</h1></div>
		<div class="col-md-9">
			By far the best and most effective way to get involved with DramaTech is to just show up. We have a building on campus that many of our members use as their daily hub (being rather centrally located). As a result, there is almost always someone around who will be more than happy to let you in if you ring the doorbell. Don't hesitate to just drop by between classes, eat lunch with us, or see who's burning the midnight oil.
		</div>
	</div>
	<div class="row about about-even">
		<div class="col-md-3 text-center"><h1>Club Meetings</h1></div>
		<div class="col-md-9">
			Club meetings generally occur every other Wednesday at 6pm during any given semester. At them we discuss club business, the status of various productions, committees, etc. In addition there is usually food of some variety. Showing up to these is a good way to meet a bunch of club members all at once, and maybe even get a crew position for one of DramaTech's shows. Check the news section for club meeting announcements.
		</div>
	</div>
	<div class="row about about-odd">
		<div class="col-md-3 text-center"><h1>Work Parties</h1></div>
		<div class="col-md-9">
			For those who like a little more structure to their lives, we have work parties of various kinds throughout the semester. In general these happen on all the weeks leading up to a show, as well as the week immediately following a show. During a show we generally hope that everything is in the state it's supposed to be in for the course of a run, but even then we sometimes try to get a head start on our next production. The general schedule of work parties is as follows:
			<ul>
				<li>Set Parties: Sundays from 1pm to 5pm</li>
				<li>Light Parties: Saturdays from 1pm to 5pm</li>
			</ul>
			Check the calendar for specific dates.
		</div>
	</div>
	<div class="row about about-even">
		<div class="col-md-3 text-center"><h1>Auditions</h1></div>
		<div class="col-md-9">
			Sometime a month or two (for mainstage productions, it can be much less for smaller shows) before a production opens we will hold auditions. Auditions are open to Georgia Tech students, faculty, and alumni. They involve cold readings from a script, and musical auditions usually involve some sort of singing and dancing components. We try to keep them very friendly, regularly casting people with no prior acting experience, so drop by and show us what you can do.
		</div>
	</div>
</div>
{% endblock content %}