{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="js/home.js"></script>
{% endblock js %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../css/carousel.css">
<style type="text/css">
	body::after {
		content: "";
		background: url(http://i.imgur.com/jYItAuI.png) center center;
		opacity: 0.05;
		top: 550;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		position: absolute;
		z-index: -999;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>
{% endblock css %}

{% block content %}

<!-- Carousel -->

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative; top:50px;">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{% for slide in slides %}
		<li data-target="#myCarousel" data-slide-to="{{loop.index}}" {% if loop.index == 1 %}class="active"{% endif %}></li>
		{% endfor %}
	</ol>
	<div class="carousel-inner">

		{% for slide in slides %}
		<div class="item {% if loop.index == 1 %}active{% endif %}">
			<img src="{{slide.image_url}}" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{slide.title}}</h1>
					<p>{{slide.description}}</p>
					{% if slide.button_text and slide.button_url %}
					<p><a class="btn btn-lg btn-primary" href="{{slide.button_url}}" role="button">{{slide.button_text}}</a></p>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<!-- Articles -->

<div class="articles" style="text-align: center;">
	<!-- latest articles -->
	{% for article in articles %}
	<div class="article" id="{{loop.index}}">
		{% if article.image_url %}
		<img class="img-circle" src="{{article.image_url}}" style="width: 140px; height: 140px;">
		{% endif %}
		<div class="article-small" id="{{loop.index}}">
			<h2>{{article.heading}}</h2>
			<div class="article-small-content">{{article.summary}}</div><br>
			{% if article.content %}
			<p><a class="btn btn-default expand-article" role="button" id="{{loop.index}}">Show details &raquo;</a></p>
			{% endif %}
		</div>
		{% if article.content %}
		<div class="article-big" id="{{loop.index}}">
			<h2 style="text-align:center;">{{article.heading}}</h2>
			<div class="lead">{{article.content|safe}}</div>
			<br>
			<p style="text-align:center;"><a class="btn btn-default contract-article" role="button" id="{{loop.index}}">&laquo; Hide details</a></p>
		</div>
		{% endif %}
	</div>
	{% endfor %}

	<!-- permanent articles -->
	<br>
	<div class="article">
		<div class="article-small" id="-1">
			<h2>Who we are</h2>
			<div class="article-small-content">
				DramaTech is the student run theater at Georgia Tech. Our goal is to further the presence of performing arts on campus, as well as in the surrounding city of Atlanta. We are the oldest continuously running theater in Atlanta—having been around since 1947.<br>
				<br>
				Trying to get to DramaTech? We've got directions available from most parts of the metropolitan Atlanta area.
			</div>
		</div>
	</div>
	<div class="article" id="-2">
		<div class="article-small" id="-2">
			<h2>What we do</h2>
			<div class="article-small-content">
				As a theater we organize productions for public performance. As students with voracious appetites for knowledge of all kinds we try to learn something in the process. With every show we try to create something that moves, inspires, or at a minimum entertains our audiences. These generally take one of the following forms...
			</div>
			<br>
			<p><a class="btn btn-default expand-article" role="button" id="-2">Show details &raquo;</a></p>
		</div>
		<div class="article-big" id="-2">
			<h2 style="text-align:center;">What we do</h2>
			<div class="container">
				<div class="lead">
					As a theater we organize productions for public performance. As students with voracious appetites for knowledge of all kinds we try to learn something in the process. With every show we try to create something that moves, inspires, or at a minimum entertains our audiences. These generally take one of the following forms:
				</div>
				<h3>Main Stage Shows</h3>
				<h4>Full length plays generally performed in the Dean James E. Dull Theater in DramaTech's building.</h4>
				<h3>Improv Comedy</h3>
				<h4>At DramaTech we have our own improvisational comedy troupe called Let's Try This! They perform regularly throughout every semester. Some of these shows are in DramaTech's theater, but many take place in various locations all over campus.</h4>
				<h3>Variety Shows</h3>
				<h4>Variety Tech is DramaTech's musical theatre ensemble, performing various song, skit, and dance routines.</h4>
				<h3>Studio Shows</h3>
				<h4>Generally one-act plays, these are student directed shows performed on a shoestring budget with a limited amount of technical assistance.</h4>
			</div>
			<br>
			<p style="text-align:center;"><a class="btn btn-default contract-article" role="button" id="-2">&laquo; Hide details</a></p>
		</div>
	</div>
</div>
{% endblock content%}