{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="js/login.js"></script>
{% endblock js %}

{% block content %}
<div class="container" style="position:relative; top:50px">
	<div class="row" style="padding-left:10%; padding-right:10%; text-align:center;">
		<h2>Please only create an account if you are a performing or administrative member of Dramatech.</h2>
		<h3>All account privileges are available only after approval by a moderator.</h3>
	</div>
	<div class="row">
		<div class="col-sm-6 login"><br>
			<h2>Login</h2>
			<form method="POST">
				Username<br>
				<input name="form-type" type="hidden" value="login">
				<input class="input login" type="text" name="username" required="required"><br>
				<br>
				Password<br>
				<input class="input login" type="password" name="password" required="required"><br>
				<br>
				<input class="btn btn-inverse" type="submit"><span class="error" id="username-password"></span>
			</form>
		</div>
		<div class="col-sm-6 register"><br>
			<h2>Register</h2>
			<form method="POST">
				First Name<br>
				<input class="input register" type="text" name="first-name" required="required">
				<br>
				<br>
				Last Name<br>
				<input class="input register" type="text" name="last-name" required="required">
				<br>
				<br>
				Username<br>
				<input class="input register" type="text" name="username" required="required">
				<span class="error" id="username-is-invalid"></span>
				<span class="error" id="username-is-taken"></span><br>
				<br>
				Password<br>
				<input class="input register" type="password" name="password" required="required"><br>
				<br>
				Repeat password<br>
				<input class="input register" type="password" name="password-repeat" required="required">
				<span class="error" id="passwords-dont-match"></span>
				<br>
				<br>
				Email<br>
				<input class="input register" type="text" name="email" required="required">
				<span class="error" id="email-is-invalid"></span>
				<br>
				<br>
				<input class="btn btn-inverse" type="submit"><br>
			</form>
		</div>
	</div>
</div>
{% endblock content %}