{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../css/simple-sidebar.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
{% block member_css %}
{% endblock member_css %}
{% endblock css %}

{% block js %}
<script type="text/javascript" src="../js/member.js"></script>
{% block member_js %}
{% endblock member_js %}
{% endblock js %}

{% block navbar %}
{% endblock navbar %}


{% block content %}
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="/">Dramatech Theater</a></li>
			<li><a href="/members">My Account</a></li>
			<li><a href="/members/moderator">Edit Permissions</a></li>

			<div class="accordion-group">
				<li><a data-toggle="collapse" data-target="#div1" data-parent="#parent">Manage Articles<i style="position: relative; left: -15px; top: -2px;" class="fa fa-sort-desc"></i></a></li>
				<div id="div1" class="collapse">
					<li><a href="/members/articles">Add Article</a></li>
				</div>
			</div>

			<div class="accordion-group">
				<li><a data-toggle="collapse" data-target="#div2" data-parent="#parent">Manage Carousel<i style="position: relative; left: -15px; top: -2px;" class="fa fa-sort-desc"></i></a></li>
				<div id="div2" class="collapse">
					<li><a href="/members/carousel">Add Slide</a></li>
				</div>
			</div>

			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>

	<!-- Page content -->
	<div id="page-content-wrapper">
		<div class="content-header">
			<h1>
				<a id="menu-toggle" href="#" class="btn btn-default">
					<i class="fa fa-bars"></i>
				</a>
				<script type="text/javascript">
					$("#menu-toggle").click(function(e) {
						e.preventDefault();
						$("#wrapper").toggleClass("active");
						console.log('hi');
					});
				</script>
				{% block member_panel_header %}
				{% endblock member_panel_header %}
			</h1>
		</div>
		<!-- Keep all page content within the page-content inset div! -->
		<div class="page-content inset">
			{% block member_panel %}
			{% endblock member_panel %}
		</div>
	</div>

</div>

{% endblock content %}