{% extends "member_base.html" %}

{% block member_panel_header %}
My Account
{% endblock member_panel_header %}

{% block member_panel %}
<div class="row">
	<div class="col-md-12">
		<p class="lead">Welcome to the Dramatech site manager. From here, you can update the site without diving into any messy code.</p>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h2>Permissions</h2><hr>
			You currently have no permissions.  If you think this is a mistake, please contact a moderator.
		</div>
	</div>
</div>
{% endblock member_panel %}